@import '../colors/colors.scss';
@import '../fonts/fonts.scss';
@import '../mixins/mixins.scss';

.social{
    @include flex(row nowrap, center, flex-start, 20px);
    &--black{
        svg{
            path{
                fill: $background;
            } 
        }
    }
    &--white{
        svg{
            path{
                fill: $white;
            } 
        }
    }
}
.social{
    li:hover{
        a{
            opacity: 0.7;
        }
    }
}