@import '../mixins/mixins.scss';
@import '../colors/colors.scss';

@font-face {
    font-family: 'Benzin-ExtraBold';
    src: url('../font/Benzin-ExtraBold.woff2') format('woff2'), 
        url('../font/Benzin-ExtraBold.woff') format('woff'),
        url('../font/Benzin-ExtraBold.ttf') format('truetype'),
        url('../font/Benzin-ExtraBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Benzin-Bold';
    src: url('../font/Benzin-Bold.woff2') format('woff2'), 
        url('../font/Benzin-Bold.woff') format('woff'),
        url('../font/Benzin-Bold.ttf') format('truetype'),
        url('../font/Benzin-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Benzin-Semibold';
    src: url('../font/Benzin-Semibold.woff2') format('woff2'), 
        url('../font/Benzin-Semibold.woff') format('woff'),
        url('../font/Benzin-Semibold.ttf') format('truetype'),
        url('../font/Benzin-Semibold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Benzin-Medium';
    src: url('../font/Benzin-Medium.woff2') format('woff2'), 
        url('../font/Benzin-Medium.woff') format('woff'),
        url('../font/Benzin-Medium.ttf') format('truetype'),
        url('../font/Benzin-Medium.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'Benzin-Regular';
    src: url('../font/Benzin-Regular.woff2') format('woff2'), 
        url('../font/Benzin-Regular.woff') format('woff'),
        url('../font/Benzin-Regular.ttf') format('truetype'),
        url('../font/Benzin-Regular.eot') format('embedded-opentype');
}



  
body {
    font-family: 'Benzin-Medium';
}
p,a,li{
    @include Benzin-Medium(0.875rem, 1.225rem, 0.03rem); 
}

.nameCard{
    @include Benzin-Bold(0.875rem, 1.225rem, 0.03rem); 
    text-transform: uppercase;
}
.help-txt{
    @include Benzin-Medium(0.75rem, 1.225rem, 0.03rem); 
}

h1{
    @include Benzin-ExtraBold(5vw, initial, 0.22838rem);
    text-transform: uppercase;
    span{
        background-image: $linear;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
h2{
    @include Benzin-ExtraBold(1.5rem, initial, 0.045rem);
    text-transform: uppercase;
    span{
        background-image: $linear;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
h3{
    @include Benzin-ExtraBold(1.125rem, initial, 0.045rem);
    text-transform: uppercase;
    span{
        background-image: $linear;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
h4{
    @include Benzin-ExtraBold(1.125rem, initial, 0.045rem);
    text-transform: uppercase;
    span{
        background-image: $linear;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}


// .h1-mob{
//     @include Mulish(1.5rem, 900, 1.9rem, initial);
// }


// a,p,label,li,span{
//     @include body;
// }

@media (max-width: 460px) {
    h2{
        @include Benzin-ExtraBold(1.25rem, initial, 0.045rem);
    }
}