@charset "UTF-8";
main {
  background-color: #E9E9F1;
}

main {
  background-color: #E9E9F1;
}

@font-face {
  font-family: "Benzin-ExtraBold";
  src: url("../font/Benzin-ExtraBold.woff2") format("woff2"), url("../font/Benzin-ExtraBold.woff") format("woff"), url("../font/Benzin-ExtraBold.ttf") format("truetype"), url("../font/Benzin-ExtraBold.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Benzin-Bold";
  src: url("../font/Benzin-Bold.woff2") format("woff2"), url("../font/Benzin-Bold.woff") format("woff"), url("../font/Benzin-Bold.ttf") format("truetype"), url("../font/Benzin-Bold.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Benzin-Semibold";
  src: url("../font/Benzin-Semibold.woff2") format("woff2"), url("../font/Benzin-Semibold.woff") format("woff"), url("../font/Benzin-Semibold.ttf") format("truetype"), url("../font/Benzin-Semibold.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Benzin-Medium";
  src: url("../font/Benzin-Medium.woff2") format("woff2"), url("../font/Benzin-Medium.woff") format("woff"), url("../font/Benzin-Medium.ttf") format("truetype"), url("../font/Benzin-Medium.eot") format("embedded-opentype");
}
@font-face {
  font-family: "Benzin-Regular";
  src: url("../font/Benzin-Regular.woff2") format("woff2"), url("../font/Benzin-Regular.woff") format("woff"), url("../font/Benzin-Regular.ttf") format("truetype"), url("../font/Benzin-Regular.eot") format("embedded-opentype");
}
body {
  font-family: "Benzin-Medium";
}

p, a, li {
  font-family: "Benzin-Medium";
  font-size: 0.875rem;
  line-height: 1.225rem;
  letter-spacing: 0.03rem;
}

.nameCard {
  font-family: "Benzin-Bold";
  font-size: 0.875rem;
  line-height: 1.225rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.help-txt {
  font-family: "Benzin-Medium";
  font-size: 0.75rem;
  line-height: 1.225rem;
  letter-spacing: 0.03rem;
}

h1 {
  font-family: "Benzin-ExtraBold";
  font-size: 5vw;
  line-height: initial;
  letter-spacing: 0.22838rem;
  text-transform: uppercase;
}
h1 span {
  background-image: var(--linear, linear-gradient(341deg, #DF1D00 0%, #FFC148 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Benzin-ExtraBold";
  font-size: 1.5rem;
  line-height: initial;
  letter-spacing: 0.045rem;
  text-transform: uppercase;
}
h2 span {
  background-image: var(--linear, linear-gradient(341deg, #DF1D00 0%, #FFC148 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-family: "Benzin-ExtraBold";
  font-size: 1.125rem;
  line-height: initial;
  letter-spacing: 0.045rem;
  text-transform: uppercase;
}
h3 span {
  background-image: var(--linear, linear-gradient(341deg, #DF1D00 0%, #FFC148 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h4 {
  font-family: "Benzin-ExtraBold";
  font-size: 1.125rem;
  line-height: initial;
  letter-spacing: 0.045rem;
  text-transform: uppercase;
}
h4 span {
  background-image: var(--linear, linear-gradient(341deg, #DF1D00 0%, #FFC148 100%));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 460px) {
  h2 {
    font-family: "Benzin-ExtraBold";
    font-size: 1.25rem;
    line-height: initial;
    letter-spacing: 0.045rem;
  }
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  visibility: hidden;
  /* фон затемнения */
  background-color: rgba(0, 0, 20, 0.7);
  opacity: 0;
  position: fixed;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup, .popup2, .popup3 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  visibility: hidden;
  position: fixed;
  opacity: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: flex-start;
  gap: initial;
}
.popup__txt, .popup2__txt, .popup3__txt {
  padding: 40px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: space-between;
  gap: initial;
}
.popup__txt h3, .popup2__txt h3, .popup3__txt h3 {
  padding-bottom: 20px;
}
.popup__txt--2 h3, .popup2__txt--2 h3, .popup3__txt--2 h3 {
  padding-bottom: 40px;
}
.popup__img, .popup2__img, .popup3__img {
  padding: 6px;
  background-color: #ffffff;
  background-image: url(../img/photos/stub.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 9/12;
  width: 280px;
}
.popup__img--1, .popup__img--2, .popup2__img--1, .popup2__img--2, .popup3__img--1, .popup3__img--2 {
  background-image: url(../img/photos/bolll.png);
}
.popup__close, .popup2__close, .popup3__close {
  padding: 20px 20px 20px 0;
}
.popup__right, .popup2__right, .popup3__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: initial;
  justify-content: flex-start;
  gap: initial;
}

.popup {
  background-color: #E9E9F1;
  max-width: 700px;
}

.popup2 {
  background-color: #E9E9F1;
  max-width: 700px;
}

.popup3 {
  background-color: #ffffff;
  min-width: 1030px;
}

.overlay:target + .popup {
  visibility: visible;
  opacity: 1;
}

.overlay:target + .popup2 {
  visibility: visible;
  opacity: 1;
}

.overlay:target + .popup3 {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 740px) {
  .contacts h2 {
    padding-bottom: 20px;
  }
}
@media (max-width: 740px) {
  .popup, .popup2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: initial;
  }
  .popup__img, .popup2__img {
    aspect-ratio: 16/6;
    width: auto;
    max-width: 100%;
  }
}/*# sourceMappingURL=popup.css.map */